name: Generate GitHub Statistics

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate statistics
        uses: cicirello/user-statistician@v1
        with:
          image-file: assets/github-stats.svg
          commit-and-push: true
          commit-message: "Update GitHub statistics"
          include-title: true
          max-languages: 10
          animated-language-chart: true
